@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    font-family: var(--font-bebas-neue), sans-serif;
  }
  h3 {
    font-family: var(--font-bebas-neue), sans-serif;
  }
  h4 {
    font-family: var(--font-bebas-neue), sans-serif;
  }
  h5 {
    font-family: var(--font-bebas-neue), sans-serif;
  }
  h6 {
    font-family: var(--font-bebas-neue), sans-serif;
  }
  p,
  span,
  li,
  a {
    font-family: var(--font-roboto), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
